header svg {
    width: 1vw;
}
header li {
    list-style-type: none;
    width: max-content;
}
.bx--header__action{
    width: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

a.bx--header__menu-item:focus{
    border-color: transparent;
    outline: none;
}


.bx--header__menu {
    width: max-content!important
}