@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap");

main {
  background-color: #f2f2f2;
  box-shadow: 0.1em 0.1em 0.3em rgb(209, 209, 209);
  height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: none;
  justify-content: center;
}
